.gallery {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
   
}
.is-hedden {
    display: none;
}
.search-form {
    padding: 15px;
   background-color: aqua;
    text-align: center;
}
.load-more {

}
.photo-card {
margin-right: 25px;
}
.info {
    display: flex;
   
}
.info-item {
margin-right: 25px;
text-align: centerw;
}